$width-large: 1200px / 1440px * 100%;
$width-small: 284px / 320px *100%;

$m-left-large: 120px;

$width-media-large: 1200px;
$width-media-middle: 950px;

$font-family: Inter, Arial, sans-serif;


$primary-back-color: #F4F4F4;
$accent-back-color: #EFEFEF;

$primary-font-color: #151515;
$accent-font-color: #222222;


$primary-back-color-dark: #333333;
$accent-back-color-dark: #2F2F2F;

$primary-font-color-dark: #FFFFFF;
$accent-font-color-dark: #E5E5E5;