.quote{
    max-width: $width-large;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width:$width-media-middle){
        max-width: $width-small;
    }
    @media screen and (max-width:$width-media-small){
        display: grid;
        row-gap: 40px;
    }

    &__picture{
        max-width: 54.1%;
        @media screen and (max-width:$width-media-large){
            max-width: 58%;
        }
        @media screen and (max-width:$width-media-small){
            max-width: 100%;
        }
    }
    &__text-container{
        max-width: 39.1%;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @media screen and (max-width:$width-media-small){
            max-width: 100%;
        }
    }
    &__title{
        margin: 0;
        @include fonts(600,34px,44px,-0.5px);

        @media screen and (max-width:$width-media-large){
            @include fonts(0,28px,32px,0);
        }
        @media screen and (max-width:$width-media-middle){
            @include fonts(0,20px,0,0);
        }
        @media screen and (max-width:$width-media-small){
            margin-bottom: 40px;
            @include fonts(0,23px,29px,-0.5px);
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
    }
    &__author{
        margin-bottom: 5px;

        @include fonts(500,20px,32px,0);
        color: $primary-font-color;
    
        @media screen and (max-width:$width-media-middle){
            @include fonts(0,16px,0,0);
        }
        @media screen and (max-width:$width-media-small){
            @include fonts(0,14px,22px,0);
        }    
    }
    &__work{
        color: $accent-font-color;
        opacity: 0.7;

        margin: 0;
        
        @include fonts(400,16px,28px,0);

        @media screen and (max-width:$width-media-middle){
            @include fonts(0,13px,0,0);
        } 
        @media screen and (max-width:$width-media-small){
            @include fonts(0,10px,16px,0);
        } 
    }
}